html {
  margin: 0;
  height: 120%;
  font-family: "Josefin Sans", sans-serif;
}
p {
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-color: rgb(181, 181, 181);
}
h1 {
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

body {
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-color: #b1a296;
}

.main-header {
  background-color: rgb(247, 242, 242);
  padding-bottom: 10px;
}

nav {
  margin-top: 40px;
  background-color: rgb(247, 242, 242);
  padding: 10px; /* Add padding to the navigation bar */
}

.nav-links {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-links li {
  display: inline; /* Display list items inline */
  margin-right: 20px; /* Add spacing between list items */
}

.nav-links li a {
  color: #903f3f; /* Set the color of the navigation links */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Set font weight */
}

.nav-links li a:hover {
  color: #ff6347; /* Change color on hover to match the title */
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-wrap: balance;
}

.title {
  position: fixed; /* Position the title element relative to the viewport */
  top: 5px; /* Adjust the top position as desired */
  left: 20px; /* Adjust the left position as desired */
  color: #903f3f; /* Set the color */
  font-size: 24px; /* Set the font size */
  font-weight: bold; /* Set the font weight */
  background-color: #171616;
  padding: 10px;
  border-radius: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--color-goal-light-grey);
  padding: 20px;
  gap: 20px;

  border: 1px solid #ccc;
  background-color: #fff;

  max-width: 35%;
  margin-left: 29%;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-content {
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: rgb(97, 89, 89);
}

h2 {
  margin-top: 0;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.card img {
  width: 100%;
  height: auto;
}

.section {
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  text-align: center;
}

div {
  font-family: "Helvetica", sans-serif;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  text-align: center;
  margin-left: 10px;
  padding: 30px;
}

input {
  width: 15%;
  padding: 12px 20px;
  margin-left: 75%;
  box-sizing: border-box;
}
input[type="text"] {
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 24%;
}
